<a href="https://colab.research.google.com/github/profteachkids/CHE5136_Fall2022/blob/main/MaintenanceLogGeneration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import itertools as it
import string
import pandas as pd

In [2]:
rng=np.random.RandomState(123)

In [3]:
# equipments=[process+loc for process, loc in it.product(['Reactor','Separator','Tank','Heater'],['A','B','C','D'])]
equipments=['Reactor','Separator','Tank','Heater']
equipment_cost=np.array([1e6, 5e5, 1e5, 5e4])
locs=list(string.ascii_uppercase[:4])
loc_cf=np.array([2., 1.5, 0.75, 1.])
procedures=['Overhaul','Flush','Inspect']
procedure_cf=np.array([0.5, 0.05, 0.01])
techs=['Ben','Jerry','Mary','Ethan']
tech_cf=np.array([2., 1., 1.2, 0.75])

In [4]:
N=int(1e5)
cost=np.zeros(N)
equipment_choice=rng.randint(0,len(equipments),size=N)
cost = equipment_cost[equipment_choice]

loc_choice =rng.randint(0,len(locs),size=N)
cost = cost *loc_cf[loc_choice]

procedure_choice =rng.randint(0,len(procedures),size=N)
cost = cost *procedure_cf[procedure_choice]
procedure=[procedures[i] for i in procedure_choice]

In [34]:
dti=pd.date_range(start='01/01/2018',end='now', freq='D', normalize=True)
end=rng.choice(dti,size=N)
start=end-pd.TimedeltaIndex(rng.randint(1,30,size=N),'D')

In [35]:
tech_choice =rng.randint(0,len(techs),size=N)
cost = cost *tech_cf[tech_choice]
tech=[techs[i] for i in tech_choice]

In [36]:
equipment = [equipments[i] + locs[j] for i,j in zip(equipment_choice,loc_choice)]

In [37]:
cost = rng.normal(loc=cost, scale=0.1*cost)

In [38]:
df=pd.DataFrame({'start':start, 'end':end, 'Equipment':equipment, 'Procedure':procedure, 'Tech':tech, 'Cost':cost})
df

           start        end   Equipment Procedure   Tech           Cost
0     2020-05-27 2020-06-08       TankD   Inspect    Ben    2655.325188
1     2019-11-17 2019-11-28  SeparatorC   Inspect  Jerry    3775.144823
2     2019-10-18 2019-10-31       TankB   Inspect   Mary    1781.770771
3     2020-06-23 2020-06-24       TankC   Inspect   Mary     936.453817
4     2019-05-17 2019-06-08    ReactorA   Inspect   Mary   18757.118105
...          ...        ...         ...       ...    ...            ...
99995 2018-08-05 2018-08-29     HeaterA   Inspect  Ethan     897.798585
99996 2019-12-19 2020-01-14     HeaterA   Inspect    Ben    2323.927345
99997 2022-09-10 2022-10-01  SeparatorC   Inspect   Mary    7593.117816
99998 2020-12-18 2021-01-16       TankD  Overhaul  Ethan   47487.049580
99999 2022-02-23 2022-03-06    ReactorA     Flush  Jerry  114676.996853

[100000 rows x 6 columns]

In [40]:
df.to_csv('maintenance_log.csv')

In [25]:
dti

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15',
               '2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19',
               '2022-10-20', '2022-10-21'],
              dtype='datetime64[ns]', length=1755, freq='D')