<a href="https://colab.research.google.com/github/profteachkids/CHE5136_Fall2022/blob/main/MaintenanceLogGeneration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import itertools as it
import string
import pandas as pd

In [2]:
rng=np.random.RandomState(123)

In [3]:
# equipments=[process+loc for process, loc in it.product(['Reactor','Separator','Tank','Heater'],['A','B','C','D'])]
equipments=['Reactor','Separator','Tank','Heater']
equipment_cost=np.array([1e6, 5e5, 1e5, 5e4])
locs=list(string.ascii_uppercase[:4])
loc_cf=np.array([2., 1.5, 0.75, 1.])
procedures=['Overhaul','Flush','Inspect']
procedure_cf=np.array([0.5, 0.05, 0.01])
techs=['Ben','Jerry','Mary','Ethan']
tech_cf=np.array([2., 1., 1.2, 0.75])

In [4]:
N=int(1e5)
cost=np.zeros(N)
equipment_choice=rng.randint(0,len(equipments),size=N)
cost = equipment_cost[equipment_choice]

loc_choice =rng.randint(0,len(locs),size=N)
cost = cost *loc_cf[loc_choice]

procedure_choice =rng.randint(0,len(procedures),size=N)
cost = cost *procedure_cf[procedure_choice]
procedure=[procedures[i] for i in procedure_choice]

In [5]:
cost

array([  1000.,   3750.,   1500., ...,   3750.,  50000., 100000.])

In [6]:
tech_choice =rng.randint(0,len(techs),size=N)
cost = cost *tech_cf[tech_choice]
tech=[techs[i] for i in tech_choice]

In [7]:
equipment = [equipments[i] + locs[j] for i,j in zip(equipment_choice,loc_choice)]

In [8]:
cost = rng.normal(loc=cost, scale=0.1*cost)

In [9]:
df=pd.DataFrame({'Equipment':equipment, 'Procedure':procedure, 'Tech':tech, 'Cost':cost})
df

        Equipment Procedure   Tech           Cost
0           TankD   Inspect   Mary    1260.819369
1      SeparatorC   Inspect  Jerry    4167.739443
2           TankB   Inspect  Jerry    1550.499194
3           TankC   Inspect  Jerry     759.532044
4        ReactorA   Inspect  Jerry   17325.211382
...           ...       ...    ...            ...
99995     HeaterA   Inspect   Mary    1318.113134
99996     HeaterA   Inspect   Mary    1132.091108
99997  SeparatorC   Inspect   Mary    5411.215721
99998       TankD  Overhaul  Jerry   54860.846985
99999    ReactorA     Flush   Mary  113474.176387

[100000 rows x 4 columns]

In [10]:
df.memory_usage()

Index           128
Equipment    800000
Procedure    800000
Tech         800000
Cost         800000
dtype: int64

In [11]:
df=df.astype({'Equipment':'category', 'Procedure':'category','Tech':'category','Cost':'float64'})

In [12]:
df.memory_usage()

Index           128
Equipment    100684
Procedure    100132
Tech         100204
Cost         800000
dtype: int64

In [13]:
df.dtypes

Equipment    category
Procedure    category
Tech         category
Cost          float64
dtype: object