<a href="https://colab.research.google.com/github/profteachkids/CHE5136_Fall2022/blob/main/MaintenanceLogAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://github.com/profteachkids/CHE5136_Fall2022/raw/main/maintenance_log.csv -O maintenance_log.csv

--2022-10-21 18:59:22--  https://github.com/profteachkids/CHE5136_Fall2022/raw/main/maintenance_log.csv
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/profteachkids/CHE5136_Fall2022/main/maintenance_log.csv [following]
--2022-10-21 18:59:23--  https://raw.githubusercontent.com/profteachkids/CHE5136_Fall2022/main/maintenance_log.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6763091 (6.4M) [text/plain]
Saving to: ‘maintenance_log.csv’

maintenance_log.csv 100%[===================>]   6.45M  --.-KB/s    in 0.1s

2022-10-21 18:59:23 (67.5 MB/s) - ‘maintenance_log.csv’ saved [6763091/6763091]

In [2]:
import pandas as pd

In [51]:
df=pd.read_csv('maintenance_log.csv', usecols=['start', 'end', 'Equipment', 'Procedure', 'Tech', 'Cost'])

In [52]:
df=df.astype({'start':'datetime64', 'end':'datetime64',
              'Equipment':'category', 'Procedure':'category',
              'Tech':'category', 'Cost':'float64'})

In [53]:
df.dtypes

start        datetime64[ns]
end          datetime64[ns]
Equipment          category
Procedure          category
Tech               category
Cost                float64
dtype: object

In [54]:
df['days']=(df['end']-df['start']).dt.days

In [55]:
df.loc[df['Equipment'].str.endswith('D'),:]

           start        end   Equipment Procedure   Tech           Cost  days
0     2020-05-27 2020-06-08       TankD   Inspect    Ben    2655.325188    12
6     2022-07-23 2022-08-16       TankD   Inspect  Ethan    2101.324674    24
9     2019-04-21 2019-05-03       TankD   Inspect    Ben    4566.057749    12
18    2021-04-13 2021-05-04  SeparatorD  Overhaul  Jerry  331205.713031    21
22    2018-12-08 2018-12-29     HeaterD  Overhaul  Jerry   20168.748784    21
...          ...        ...         ...       ...    ...            ...   ...
99989 2018-10-10 2018-10-21  SeparatorD  Overhaul   Mary  220238.801599    11
99990 2021-06-21 2021-06-25       TankD   Inspect  Jerry    1135.184807     4
99992 2022-03-15 2022-04-02    ReactorD   Inspect    Ben   15547.111858    18
99994 2021-04-07 2021-04-21  SeparatorD  Overhaul    Ben  394197.446296    14
99998 2020-12-18 2021-01-16       TankD  Overhaul  Ethan   47487.049580    29

[24920 rows x 7 columns]

In [61]:
df['dayofweek']=df['start'].dt.dayofweek

In [66]:
summary_df=pd.pivot_table(df,values='Cost',index=['Equipment','Tech'], columns=['dayofweek','Procedure'], aggfunc='mean')

In [72]:
summary_df.stack([0,1])

Equipment  Tech  dayofweek  Procedure
HeaterA    Ben   0          Flush         12748.373186
                            Inspect        2686.938993
                            Overhaul     119812.906161
                 1          Flush         12268.275241
                            Inspect        2405.718508
                                             ...
TankD      Mary  5          Inspect        1450.714082
                            Overhaul      84003.193952
                 6          Flush          7221.265462
                            Inspect        1443.845691
                            Overhaul      73473.592366
Length: 1344, dtype: float64